@charset "utf-8";
html{font-family:'Noto Sans KR',sans-serif; }
body{position:relative; margin:0 auto; color:#121212; background-color: #d4d4d4; overflow-x: hidden;}
nav{
    margin:0 auto;
    width:80vw;
    height:4.166vw;
    position:fixed;
    bottom:0;
    left:50vw;transform:translate(-50%,0);
    z-index:100;
    cursor: pointer;
    transition:0.5s;
}
nav #home{background:url(../images/go_top_circle_p.png) no-repeat; background-size:cover;
    width: 5.208vw; height: 5.208vw; position:fixed; bottom:7.8125vw; right:0; z-index: 100; 
animation-name:ani_1;
animation-duration:52.5s;
animation-delay:0s; 
animation-direction:alternate;
animation-timing-function:linear;
animation-iteration-count:infinite;
animation-fill-mode:none;
place-items: center; display:grid;}
@keyframes ani_1 {
    to{
       
        transform:rotate(3600deg);
    }
}
nav #home:hover{animation-play-state: paused;}
nav #home2 {background:url(../images/go_top_p.png) no-repeat; background-size:cover; width: 5.208vw;  height: 5.208vw; position:fixed; z-index: 10; bottom:7.8125vw; right:0; }
nav #portfolio_nav{
    height:4.166vw;
    margin:0 auto;   
    background-color:transparent;
}
nav #portfolio_nav ul{
    height:4.166vw;
    list-style: none;
    padding:0; margin:0;
    display:grid; grid-template-columns: repeat(5,10.416vw) 27.916vw;
    place-items:center;
    border:0.05208vw solid #121212;
    background-color:#d4d4d4;
}
nav #portfolio_nav ul li{display:grid; width:10.416vw; height:4.166vw;  place-items:center; }
nav #portfolio_nav ul li a{display:grid; width:10.416vw; height:4.166vw;  place-items:center; text-decoration-line: none; color:#121212;font-size:1.7vw;}
nav #portfolio_nav ul li #lost112:hover{background-color: #316bb8; color:#d4d4d4; transition: all .45s;}
nav #portfolio_nav ul li #fitness:hover{background-color: #1da9fc; color:#d4d4d4; transition: all .45s;}
nav #portfolio_nav ul li #nike:hover{background-color: #f4631c; color:#d4d4d4; transition: all .45s;}
nav #portfolio_nav ul li:nth-child(1){grid-column:1/2; border:0.05208vw solid #121212;}
nav #portfolio_nav ul li:nth-child(2){grid-column:2/3; border:0.05208vw solid #121212;}
nav #portfolio_nav ul li:nth-child(3){grid-column:3/4; border:0.05208vw solid #121212;}
nav #portfolio_nav ul li:nth-child(4){grid-column:4/5}
nav #portfolio_nav ul li:nth-child(5){grid-column:5/6}
header{width:100vw; height:6.77vw; background-color: transparent; }
header #header{width:100vw; height:6.77vw; margin:0 auto; display:grid; grid-template:1.302vw 4.166vw 1.302vw /5vw 4.166vw 1fr 23.43vw 5vw;position:fixed; top:0;  transition:0.5s;  background-color: transparent; z-index:2000;}
header #header #logo{grid-row:2/3; grid-column:2/3; background:url(../images/logo.png) no-repeat; background-size:cover;}
header #header #menu{grid-row:2/3; text-transform: uppercase; grid-column:4/5;}
header #header #menu ul{list-style: none; padding:0; margin:0;display:grid; grid-template-columns: 4.2968vw 4.88vw 3.645vw 4.88vw 5.729vw;place-items: center;height:4.166vw;}
header #header #menu ul #project{position:relative; font-size: 2.1875vw; cursor:pointer}
header #header #menu ul #project:after{content:''; width:0; height: 0.1562vw; background: #fac728; position: absolute; bottom:-0.5208vw; left:0; transition: all .3s; opacity:0;}
header #header #menu ul #project:hover:after{width:100%; opacity:1;}
header #header #menu ul #project:hover:before{left: 0;}
header #header #menu ul li a{ position:relative; }
header #header #menu ul li a:after{ content:''; width:0; height: 0.1562vw; background: #fac728; position: absolute; bottom:-0.5208vw; left:0; transition: all .3s; opacity:0;}
header #header #menu ul li a:hover:after{width:100%; opacity:1;}
header #header #menu ul li a:hover:before{left: 0;}
header #header #menu ul li:nth-child(1){grid-column:3/4;}
header #header #menu ul li:nth-child(2){grid-column:5/6;}
header #header #menu ul li a{color:#121212; text-decoration-line: none; font-size:2.1875vw;display:grid;}
header #header #menu ul #project #project_list{height:12.5vw; width:9.3vw; top:5.5vw; right:3vw;margin:0; position:fixed; text-transform: none;  grid-template: repeat(5,2.5vw)/9.3vw; justify-items:end; display:grid; visibility: hidden;}

header #header #menu ul #project #project_list  li:nth-child(1){grid-row:1/2; grid-column:1/2;}
header #header #menu ul #project #project_list  li:nth-child(2){grid-row:2/3;  grid-column:1/2;}
header #header #menu ul #project #project_list  li:nth-child(3){grid-row:3/4;  grid-column:1/2;}
header #header #menu ul #project #project_list  li:nth-child(4){grid-row:4/5;  grid-column:1/2;}
header #header #menu ul #project #project_list  li:nth-child(5){grid-row:5/6;  grid-column:1/2;}
header #header #menu ul #project #project_list  li a{font-size:1.8vw; position:relative; }
header #header #menu ul #project #project_list  li:nth-child(1) a{color:#316bb8}
header #header #menu ul #project #project_list  li:nth-child(1) a:after{ content:''; width:0; height: 0.1562vw; background: #316bb8; position: absolute; bottom:-0.5208vw; left:0; transition: all .3s; opacity:0;}
header #header #menu ul #project #project_list  li:nth-child(2) a:after{background: #1da9fc;}
header #header #menu ul #project #project_list  li:nth-child(3) a:after{background: #f4631c;}
header #header #menu ul #project #project_list  li a:hover:after{width:100%; opacity:1;}


main{position:relative;overflow:visible;}
main #main1{display:grid;width:90vw; margin:0 5vw; grid-template:5vw 10vw 1vw /5vw 80vw 5vw;  place-items: center; }
main #main1 div{font-size:8.333vw; font-weight:bold; height:10vw;text-transform:uppercase; top:0; width:80vw;margin:0;  display:grid; z-index:10; display:grid; text-align: center; align-items: end;}
main #main1 div:nth-child(1){grid-row:1/2; grid-column:2/3;}
main #main1 div:nth-child(2){grid-row:2/3; grid-column:2/3;}
main #main1 div:nth-child(3){grid-row:2/3; grid-column:3/4; width:10vw; font-size: 2.7vw; margin-bottom:1.5vw;}
main #main1 div:nth-child(4){grid-row:3/4; grid-column:1/5; width:90vw; height:4vw;border-bottom:0.052vw solid #121212;}
main #main2{display:grid;width:80vw; margin:0 10vw; grid-template-rows:4.5vw repeat(3,3.65vw) 10vw ; place-items: center; }
main #main2 div{font-size: 2.5vw; text-align:center; z-index:10; display:grid; width:80vw; z-index:10;}
main #main2 div:nth-child(1){grid-row:2/3}
main #main2 div:nth-child(2){grid-row:3/4}
main #main2 div:nth-child(3){grid-row:4/5}
main #main2 div:nth-child(4){grid-row:5/6;}
main #main3{width:80vw; margin:0 10vw; display:grid; height:61.875vw; grid-template:repeat(11,5.625vw)/50vw 23.5vw 1fr; border-top:0.052vw solid #121212; border-bottom:0.052vw solid #121212; place-items: center;}
main #main3 div:nth-child(1){grid-row:4/5; grid-column:1/2; font-size:5vw; margin-bottom:3vw;}
main #main3 div:nth-child(2){grid-row:5/6; grid-column:1/2; font-size:5vw}
main #main3 div:nth-child(2) a{color:inherit; text-decoration:none; font-size:2.1875vw; border: 0.2vw #121212 solid;transition:0.4s; padding:1vw 2vw; }
main #main3 div:nth-child(2) a:hover{background-color:#316bb8; color:#d4d4d4;}
main #main3 div:nth-child(3){grid-row:7/8; grid-column:1/2; font-size:5vw; width:26.428vw; height:5.574vw}
main #main3 div:nth-child(3) a{color:inherit; text-decoration:none; font-size:2.1875vw; border: 0.2vw #121212 solid;transition:0.4s; padding:1vw 2vw; display:grid; place-items: center; height:100%; padding:0; box-sizing:border-box}
main #main3 div:nth-child(3) a:hover{background-color:#316bb8; color:#d4d4d4;}
main #main3 div:nth-child(4){ grid-row:2/10;grid-column:2/3; border:0.7vw solid #121212; border-radius:2.4vw; width:20.5vw; height:44vw; position:relative; overflow:hidden; background-color: #121212;}
main #main3 div:nth-child(4) video{object-fit:cover; position:absolute; top:0; left:50%; transform:translate(-50%);width:100%; height:100%;}

main #main4{width:80vw; margin:3vw 10vw 0; display:grid;}
main #main4 div:nth-child(1){font-size:3.5vw; margin:1.5vw auto;}
main #main4 div:nth-child(2){font-size:2.5vw; margin:1.5vw auto;}
main #main4 div:nth-child(3){display:grid; grid-template-columns:8.75vw 15vw 8.75vw 15vw 8.75vw 15vw 8.75vw; place-items:center; }
main #main4 div:nth-child(3) div{ width:15vw; height:32vw;}
main #main4 div:nth-child(3) div:nth-child(1){grid-column:2/3; background: url(../images/lost112_1.png) no-repeat 50%/ cover;}
main #main4 div:nth-child(3) div:nth-child(2){grid-column:4/5; background: url(../images/lost112_2.png) no-repeat 50%/ cover;}
main #main4 div:nth-child(3) div:nth-child(3){grid-column:6/7; background: url(../images/lost112_3.png) no-repeat 50%/ cover; margin-bottom:0; padding:0;}
main #main4 div:nth-child(4){display:grid; grid-template-columns:8.75vw 15vw 8.75vw 15vw 8.75vw 15vw 8.75vw;; border-bottom: 0.052vw solid #121212; margin-bottom:3vw; padding-bottom:3vw; }
main #main4 div:nth-child(4) div:nth-child(1){grid-column:2/3; font-size:2.5vw;}
main #main4 div:nth-child(4) div:nth-child(2){grid-column:4/5; font-size:2.5vw;}
main #main4 div:nth-child(4) div:nth-child(3){grid-column:6/7;margin:1.5vw auto; display:block;  font-size:2.5vw;}
main #main4 div:nth-child(4) div p{font-size:1vw; text-align:center;}
main #main5{width:80vw; margin:0 10vw; margin-bottom:5vw; border-bottom: 0.052vw solid #121212; display:grid; grid-template-rows:25vw 42vw 55vw; place-items:start; margin-bottom:10vw;}
main #main5 div div:nth-child(1){font-size:2.5vw; font-weight:500;}
main #main5 p{padding-left:2vw; font-weight:300;}
main #main5 #main5_1{grid-row:1/2; display:grid; grid-template: 3vw 15vw 3vw /7.5vw 65vw 7.5vw;  border-bottom: 0.052vw solid #121212;}
main #main5 #main5_1 #main5_1_d{grid-column:2/3;}
main #main5 #main5_1 #main5_1_p{margin-top:2vw; display:grid; grid-template:repeat(3,1fr)/repeat(4,1fr); font-size:1.5vw; place-items: start; grid-row:2/3;grid-column:2/3;}
main #main5 #main5_2{grid-row:2/3; display:grid;  grid-template: 3vw 32vw 3vw /7.5vw 65vw 7.5vw;  border-bottom: 0.052vw solid #121212;}
main #main5 #main5_2 #main5_2_d{grid-column:2/3;}
main #main5 #main5_2 #main5_2_p{margin-top:2vw; display:grid; grid-template-rows:repeat(5,1fr) ;font-size:1.5vw; place-items: start; grid-row:2/3;grid-column:2/3;}
main #main5 #main5_2 #main5_2_p p:nth-child(2){font-size:1.3vw; margin:0; margin-left:2vw;}
main #main5 #main5_2 #main5_2_p p:nth-child(3){font-size:1.3vw; margin:0; margin-left:3.5vw; margin-bottom:1.25vw;}
main #main5 #main5_2 #main5_2_p p:nth-child(4){font-size:1.3vw; margin:0; margin-left:2vw;}
main #main5 #main5_2 #main5_2_p p:nth-child(5){font-size:1.3vw; margin:0; margin-left:3.5vw;  margin-bottom:1.25vw;}
main #main5 #main5_2 #main5_2_p p:nth-child(6){font-size:1.3vw; margin:0; margin-left:2vw;}
main #main5 #main5_2 #main5_2_p p:nth-child(7){font-size:1.3vw; margin:0; margin-left:3.5vw; margin-bottom:2vw;}
main #main5 #main5_3{grid-row:3/4; display:grid;  grid-template: 3vw repeat(3,16vw) 3vw /7.5vw 65vw 7.5vw; }
main #main5 #main5_3 #main5_3_d{grid-row:1/2; grid-column:2/3;}
main #main5 #main5_3 p{font-size:1.5vw; margin-left:3vw;}
main #main5 #main5_3 div p:nth-child(1){font-size:1.8vw; font-weight:400; margin-left:0;}
main #main5 #main5_3 #main5_3_p1{grid-row:2/3; grid-column:2/3; margin-top:3vw;}

main #main5 #main5_3 #main5_3_p2{grid-row:3/4; grid-column:2/3; margin-top:3vw;}
main #main5 #main5_3 #main5_3_p3{grid-row:4/5; grid-column:2/3; margin-top:3vw;}
